
{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>      
      <meta  name="viewport" charset="utf-8" content="width=device-width, initial-scale=1">
      <title></title>
      
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <!-- Iconos Boostrap-->
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{% static 'index.css' %}">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Nunito+Sans:opsz@6..12&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

  </head> 
  <div class="container-fluid bg-dark">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="col-md-3 mb-2 mb-md-0 mx-5">
       <!--  <a href="/" class="d-inline-flex text-decoration-none text-white">
          <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a> -->
        <span class="text-white titulo" >LOGOBAKERY</span>
      </div>

      <ul class="nav col-6 col-md-auto mb-2 justify-content-center mb-md-0">        
        <li><a href="{% url 'gestionTienda:registroTienda' %}" class="nav-link text-white px-2">Tiendas</a></li>
        <li><a href="{% url 'gestionTienda:registroProducto' %}" class="nav-link text-white px-2">Productos</a></li>        
        <li><a href="#" class="nav-link text-white px-2">About</a></li>
      </ul>

      <div class="col-md-3 text-end">        
        <button type="button" class="rounded-pill btn btn-info gap-2 btn-sm mx-5 text-white"  style="width: 20%;">  Contact  </button>
      </div>
    </header>
  </div>
  <main>
    <div class="container mt-5">
      <div class="row row-cols-1 row-cols-lg-1 g-1 g-lg-1">
        <div class="col">
          <h1 class="display-5">Productos</h1>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row row-cols-2 row-cols-lg-6 g-1 g-lg-1">
        <div class="col">
          <div class="p-3 text-center">
            <button type="button" class="btn btn-success" style="width: 100%;" data-bs-toggle="modal" data-bs-target="#nuevoProducto">Nuevo <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
          </svg></button></div>
        </div>
        <div class="col">
          <div class="p-3 text-center"><button type="button" class="btn btn-success" style="width: 100%;" data-bs-toggle="modal" data-bs-target="#asignarTienda">Asignar Tienda</button></div>
        </div>
        <div class="col">
          <div class="p-3 text-center"><button type="button" class="btn btn-success" style="width: 100%;">Success</button></div>
        </div>
        <div class="col">
          <div class="p-3 text-center"><button type="button" class="btn btn-success" style="width: 100%;">Success</button></div>
        </div>
        <div class="col">
          <div class="p-3 text-center"><button type="button" class="btn btn-success" style="width: 100%;">Success</button></div>
        </div>      
        <div class="col">
          <div class="p-3 text-center"><button type="button" class="btn btn-success" style="width: 100%;">Success</button></div>
        </div>    
      </div>
    </div>
    
    <div class="container mt-5">
      <div class="row row-cols-1 row-cols-lg-1 g-1 g-lg-1">
            <div class="col justify-content-center">
                      
                  <table class="table table-striped table-hover ">
                      <thead>
                          <th class="text-center" width="20%">Descripción</th>
                          <th class="text-center" width="10%">Código</th>
                          <th class="text-center" width="10%">PrecioVenta</th>
                          <th class="text-center" width="10%">Cantidad</th>
                          <th class="text-center" width="29%">Tienda</th>      
                          <th class="text-center" width="7%">Ver Stock</th>
                          <th class="text-center" width="7%">Editar</th>
                          <th class="text-center" width="7%">Eliminar</th>                    
                      </thead>
                      <tbody>
                          {% for listaProducto in listaProductos %}
                          <tr>
                              <td>{{ listaProducto.descripcion }}</td>
                              <td class="text-center">{{ listaProducto.codigo }}</td>
                              <td class="text-center">{{ listaProducto.precioVenta }}</td>
                              <td class="text-center">{{ listaProducto.cantidad }}</td>
                              <td class="text-center">{{ listaProducto.tiendaProducto.direccion }}  -  {{ listaProducto.tiendaProducto.provincia }} - {{ listaProducto.tiendaProducto.region }}</td>
                              <td class="text-center"><a class="btn btn-info " href=""><i class="bi bi-eye-fill"></i></a></td>
                              <td class="text-center"><a class="btn btn-warning" href=""><i class="bi bi-pencil-square"></i></a></td>
                              <td class="text-center"><a class="btn btn-danger" href="{% url 'gestionTienda:eliminarProducto' listaProducto.id  %}"><i class="bi bi-trash-fill"></i></a></td>
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>       
                
          </div>
        </div>
    </div>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>


<div class="modal fade" tabindex="-1" id="nuevoProducto" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog">
      <div class="modal-content">
          <form method="post" action="{% url 'gestionTienda:registroProducto' %}">
              {% csrf_token %}
              <div class="modal-header">
                  <h5 class="modal-title">Crear Producto</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <div class="row form-group justify-content-center mb-3">
                      <div class="col-12">
                        <div class="input-group input-group-sm mb-3">
                          <span class="input-group-text" id="inputGroup-sizing-sm">Descripción</span>
                          <input type="text" name="descripcion" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" aria-rowspan="">
                        </div>                          
                      </div>
                      <div class="col-12">
                        <div class="input-group input-group-sm mb-3">
                          <span class="input-group-text" id="inputGroup-sizing-sm">Código</span>
                          <input type="text" name="codigo" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>
                      </div>

                      <div class="col-6">
                        <div class="input-group input-group-sm mb-3">
                          <span class="input-group-text" id="inputGroup-sizing-sm">Precio Venta</span>
                          <input type="number" name="precioVenta" class="form-control" name="region" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>
                      </div>

                      <div class="col-6">
                        <div class="input-group input-group-sm mb-3">
                          <span class="input-group-text" id="inputGroup-sizing-sm">Cantidad</span>
                          <input type="number" name="cantidad" class="form-control" name="region" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>
                      </div>                      
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Crear producto</button>
              </div>
          </form>
      </div>
  </div>
</div>


<div class="modal fade" tabindex="-1" id="asignarTienda" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" action="{% url 'gestionTienda:asignarTienda' %}">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title">Asignar tienda a producto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row form-group justify-content-center mb-3">
                        <div class="col-5">
                            <label>Seleccionar Producto</label>
                            <select class="form-select" name="productoSeleccionado" required>
                                <option value="" selected></option>
                                {% for producto in listaProductos %}
                                <option value="{{ producto.id }}">{{ producto.descripcion }} {{ usuario.apellidoUsuario }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-5">
                            <label>Seleccionar tienda</label>
                            <select class="form-select" name="tiendaSeleccionado" required>
                                <option value="" selected></option>
                                {% for tienda in listaTiendas %}
                                <option value="{{ tienda.id }}">{{ tienda.direccion }} {{ tienda.provincia }} {{ tienda.region }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Asignar</button>
                </div>
            </form>
        </div>
    </div>
</div>